.page__container {
  color: #FFFFFF;
  background-color: #000000;
  min-height: 100vh;
  min-width: 320px;
  max-width: 880px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
}