.header__menu {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

@media screen and (max-width: 600px) {
  .header__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    order: -1;
    width: 512px;
    border-bottom: 1px solid rgb(84, 84, 84, .7);
  }
}