.header {
  padding-top: 45px;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
  min-height: 74px;
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 1023px) {
  .header {
    padding-top: 35px;
    margin: 0 70px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 65px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    margin: 0;
    padding-top: 28px;
    min-height: 56px;
  }
}